# virtual env
.venv
__pycache__
*.pyc

# git
.git
.gitignore

# frontend dev files
frontend/node_modules

# preprocessing data (NOT needed in runtime)
final_cleaned
text
rag_index/chunks

# local caches
.cache
.huggingface
*.log

# OS files
.DS_Store