unstructured>=0.10.0
unstructured-inference>=0.7.0
pytesseract>=0.3.10
unstructured-pytesseract>=0.3.12
Pillow>=10.0.0
pillow-heif>=0.13.0
pi-heif>=0.18.0
pdf2image>=1.16.0
numpy>=1.26.0
python-dotenv>=1.0.1
langchain-community>=0.2.0
langchain-huggingface>=0.1.2
langchain-chroma>=0.1.0
langchain-text-splitters>=0.2.0
streamlit>=1.35.0
chromadb>=0.5.0
sentence-transformers>=2.7.0
transformers>=4.41.0
torch>=2.2.0
tiktoken
rank-bm25